.contentEditable {
    width: calc(100% - 10px - 0.5em);
    cursor: text;
    word-break: keep-all;
}
.contentEditable:focus {
    outline: none;
}
/* .itemWrap:hover > .dragButton {
    opacity: 1;
}
.dragButton {
    opacity: 0;
} */